      /* Utility */
      :root {
        --gradient: linear-gradient(90deg, rgba(218, 218, 218, 1) 0%, rgba(84, 84, 84, 1) 100%);
        --bc-ground-secondary: #1a1a1a;
        --broder: #9c9c9c39;
        --border-second: #58585838;
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }

      body {
        background-color: #161616;
        background-image: url(bg_pattern.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #8a8a8a;
        font-size: 14px;
      }

      h1 {
        font-size: 1.7rem;
      }
      h2 {
        font-size: 1.3rem;
      }
      h3 {
        font-size: 1rem;
      }

      .container {
        max-width: 1440px;
        margin: 0 auto;
      }

      .testo-gradiente {
        background-image: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        background-clip: text;
      }

      /* Nav Bar */

      header {
        border-bottom: solid 1px var(--broder);
      }

      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
      }

      .get-touch {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        text-decoration: none;
        color: inherit;
      }

      .get-touch > span:first-child {
        width: fit-content;
        padding: 10px;
        border-radius: 50%;
        background-color: var(--bc-ground-secondary);
        border: solid 1px var(--broder);
        display: flex;
      }

      .get-touch > span {
        transition: 0.6s;
      }

      .get-touch > span:hover {
        color: white;
      }

      svg {
        width: 15px;
        height: 15px;
      }

      ul#socialmobile,
      ul#socialdesktop {
        display: flex;
        list-style: none;
        gap: 20px;
      }

      ul#socialdesktop {
        display: none;
      }

      nav > ul > li::after {
        content: "";
      }

      a {
        text-decoration: none;
        color: inherit;
        transition: 0.6s;
      }

      nav a:hover {
        color: white;
      }

      /* Section Hero */

      #hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 70px 10px;
      }

      #hero-section > img {
        border: 3px solid rgb(0, 0, 0);
        overflow: hidden;
        border-radius: 50%;
        height: 120px;
      }

      #hero-section > span {
        margin-top: 20px;
      }

      #hero-section > h1 {
        margin: 20px 0px 40px;
        text-align: center;
      }

      .btn {
        display: flex;
        border: 1px solid var(--border-second);
        padding: 14px 24px;
        background-color: var(--bc-ground-secondary);
        border-radius: 5px;
        gap: 15px;
        transform: all;
        transition: 0.1s;
        transition-timing-function: ease-in-out;
      }

      .btn:hover {
        scale: 0.9;
        color: inherit;
      }

      .btn > svg {
        height: 12px;
        width: 12px;
        transform: translateY(2px);
      }

      .btn-hero > svg {
        border-bottom: 1px solid #9e9e9e;
      }

      .btn > span {
        font-size: 0.8rem;
        color: #9e9e9e;
      }

      /* Section Logo */

      #logos-section {
        height: 200px;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        gap: 50px;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--broder);
        border-bottom: 1px solid var(--broder);
        background-color: var(--bc-ground-secondary);
      }

      #logos-section > img {
        width: 100px;
        fill: white;
      }

      /* Section Services */
      #services-section {
        border-bottom: 1px solid var(--broder);
        padding: 50px 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      #services-section > h2 {
        text-align: center;
        margin: 0 0px 50px;
      }

      .container-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        width: 100%;
      }

      .card {
        border: 1px solid var(--border-second);
        border-radius: 5px;
        padding: 100px 20px;
        background-color: var(--bc-ground-secondary);
      }

      .card > svg {
        margin-bottom: 20px;
      }

      .card > h3 {
        margin-bottom: 1rem;
      }